<div class="btn-menu" onclick="window.location.href = '#/Enfermedad'">
    <button><span class="glyphicon glyphicon-th"></span></button>Enfermedad
</div>
<div class="btn-menu" onclick="window.location.href = '#/Dosis'">
    <button><span class="glyphicon glyphicon-th"></span></button>Dosis
</div>
<div class="btn-menu" onclick="window.location.href = '#/DosisAplicada'">
    <button><span class="glyphicon glyphicon-th"></span></button>DosisAplicada
</div>
<div class="btn-menu" onclick="window.location.href = '#/Persona'">
    <button><span class="glyphicon glyphicon-th"></span></button>Persona
</div>
<div class="btn-menu" onclick="window.location.href = '#/Ubicacion'">
    <button><span class="glyphicon glyphicon-th"></span></button>Ubicacion
</div>
<div class="btn-menu" onclick="window.location.href = '#/Vacuna'">
    <button><span class="glyphicon glyphicon-th"></span></button>Vacuna
</div>
<div class="btn-menu" onclick="window.location.href = '#/Historial'">
    <button><span class="glyphicon glyphicon-th"></span></button>Historial
</div>

